.loading-modal {
  width: fit-content !important;
}
.loading-modal .ant-modal-confirm-btns {
  display: none;
}
.loading-modal.ant-modal-confirm .ant-modal-body {
  padding: 24px 32px 8px;
}
.loading-modal.ant-modal-confirm .ant-spin-text {
  color: rgba(0, 0, 0, 0.65);
}
